name: CI Pipeline Ines


# Parte del primer ejercio
# on:
#   push:
#     branches:
#       - master

# Parte del segundo ejercio.
on:
  push:
    branches:
      - master
      - feature-*
      - hotfix-*


jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Step 0: Checkout del código del repositorio
      - name: Checkout code
        uses: actions/checkout@v3
      
      # Step 1: Pruebas de SAST (mocked)
      - name: Pruebas de SAST
        run: echo "Ejecución de pruebas de SAST"
      
      # Step 2: Crear archivo de credenciales
      - name: Crear archivo de credenciales
        run: |
          echo "[credentials]" > credentials.ini
          echo "username=${{ secrets.USERNAME }}" >> credentials.ini
          echo "password=${{ secrets.PASSWORD }}" >> credentials.ini
  
      
      # Step 3: Construcción del container Docker desde el directorio raíz
      - name: Build docker image
        run: docker build -t devops_ws . --tag devops_ws:$(date +%s)

